<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <servlet>
  <servlet-name>Register</servlet-name>
  <servlet-class>Register.Register</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>Login</servlet-name>
  <servlet-class>Register.Login</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>UpdateUser</servlet-name>
  <servlet-class>Register.UpdateUser</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>DeleteUser</servlet-name>
  <servlet-class>Register.DeleteUser</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>CreateTask</servlet-name>
  <servlet-class>Task.CreateTask</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>DeleteTask</servlet-name>
  <servlet-class>Task.DeleteTask</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>EditTask</servlet-name>
  <servlet-class>Task.EditTask</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>SendMessage</servlet-name>
  <servlet-class>Message.SendMessage</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>DeleteMessage</servlet-name>
  <servlet-class>Message.DeleteMessage</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>StartTask</servlet-name>
  <servlet-class>Task.StartTask</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>Money</servlet-name>
  <servlet-class>Register.Money</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>Register</servlet-name>
  <url-pattern>/Register</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Login</servlet-name>
  <url-pattern>/Login</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>UpdateUser</servlet-name>
  <url-pattern>/UpdateUser</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>DeleteUser</servlet-name>
  <url-pattern>/DeleteUser</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CreateTask</servlet-name>
  <url-pattern>/CreateTask</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>DeleteTask</servlet-name>
  <url-pattern>/DeleteTask</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>EditTask</servlet-name>
  <url-pattern>/EditTask</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>SendMessage</servlet-name>
  <url-pattern>/SendMessage</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>DeleteMessage</servlet-name>
  <url-pattern>/DeleteMessage</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>StartTask</servlet-name>
  <url-pattern>/StartTask</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Money</servlet-name>
  <url-pattern>/Money</url-pattern>
 </servlet-mapping>
 <welcome-file-list>
  <welcome-file>index.jsp</welcome-file>
 </welcome-file-list>
 <login-config>
  <auth-method>BASIC</auth-method>
 </login-config>
</web-app>
